{% extends "auctions/layout.html" %}

{% block body %}    
    <h2>New Listing</h2>
    <div class="containder">
            {% if success %}
            <div class="alert alert-success" role="alert">SUCCESSFULLY CREATED</div>
            {% elif false %}
            <div class="alert alert-warning" role="alert">Not Successful</div>    
            {% endif %}
        <div class="row">
            <div class="card border-light col col-lg-6 col-md-8 col-sm-12">
                <div class="form-group">
                    <div class="mb-3">
                <form action="{% url 'newlist' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ imageForm.management_form }}
                    {% for form in imageForm %}
                    {{ form.as_p }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary"> Upload </button>
                    </div>
                </form>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}